body {
    background-color: #e8eaf6;
}

h1{
    color: #fff;
    background-color: #7986cb;
    text-align: center;
}

table{
    align-self: center;
}

th{
    text-align: left;
    border-bottom: 2px solid #1a237e;
    font-size: 20px;
    color: #fff;
    background-color: #5c6bc0;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #1a237e;
}

button {
    align-self: center;
    width: 100%;
    color: #fff;
    background-color: #303f9f;
    text-align: center;
    cursor: pointer;
    padding: 15px 30px;
}

.block:hover {
    background-color: #5c6bc0;
    color: #fff;
}

label {
    font-size: 20px;
    text-align: center;
    color:#3949ab;
}